    <div class="navbar">        
        <div class="row d-flex justify-content-center fila--principal">
            <div class="col-lg-4 col-xl-2">
                <ul class="nav flex-column nav-pills bg-light">
                    <li class="nav-item">
                        <a class="nav-link active item__lista" href="#">Subir Foto</a></li>
                        <li class="nav-item">
                            <a class="nav-link item__lista" href="#">Córdoba Capital</a></li>
                    <li class="nav-item">
                        <a class="nav-link item__lista" href="#">Carlos Paz</a></li>
                    <li class="nav-item">
                        <a class="nav-link item__lista" href="#">Traslasierra</a></li>
                    <li class="nav-item">
                        <a class="nav-link item__lista" href="#">Sierras chicas</a></li>
                </ul>
            </div>
            <div class="col-lg-8 col-xl-10 bg-light">
                <app-home></app-home>
            </div>
        </div>
    </div>
