<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-5">
      <div class="card w-500">
        <img src="../../assets/La-Canada.jpg" class="card-img-top" alt="la cañada">
        <div class="card-body">
          <h5 class="card-title">Lugar: La cañada</h5>
          <p class="card-text">Es un paisaje distinto en el centro de la ciudad</p>
          <p class="card-text text-muted">Subida por: XXX</p>
          <p class="card-text"><small class="text-muted">Fecha: 20/11/2022</small></p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card w-300">
        <img src="../../assets/Jardin-botanico.jpg" class="card-img-top" alt="Jardin-botanico">
        <div class="card-body">
          <h5 class="card-title">Lugar: Jardin Botanico</h5>
          <p class="card-text">Un hermoso parque para pasar el día visitando sus distintos paseos</p>
          <p class="card-text text-muted">Subida por: YYY</p>
          <p class="card-text"><small class="text-muted">Fecha: 20/11/2022</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
  
 <!-- 
  
    <div class="col-6">
      <div class="card" style="width: auto;">
        <img src="./Imagenes/La-Canada.jpg" class="img-fluid rounded-float-center" alt="La cañada">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>  
    </div>
    <div class="col-6">
        <div class="card" style="width: auto;">
          <img src="./Imagenes/Jardin-botanico.jpg" class="img-fluid" alt="Jardin botanico">
        <div class="card-body">
          <h5 class="card-title">Jardin Botanico</h5>
          <p class="card-text">En sus seis hectáreas, el Botánico cuenta con distintos paseos sectorizados: El paseo de las Flores, Selva Subtropical, Huerta, Flora Nativa, Pasturas, Trepadoras, Rocallas, Cactus y Árboles Urbanos.</p>
        </div>
      </div>
    </div>
</div>
</div>
-->