<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 20rem;">
        <img src="./Imagenes/La-Canada.jpg" class="img-fluid rounded float-center" alt="La cañada">
        <div class="card-body">
          <h5 class="card-title">La Cañada</h5>
          <p class="card-text">La Cañada fué inaugurada en 1944, con casi tres kilómetros de muralla de piedras y puentes, que atraviesan la ciudad de Córdoba.</p>
          <a href="#" class="btn btn-primary">Conocer mas</a>
        </div>
      </div>  
    </div>
    <div class="col-4">
        <div class="card" style="width: 20rem;">
          <img src="./Imagenes/Jardin-botanico.jpg" class="img-fluid" alt="Jardin botanico">
        <div class="card-body">
          <h5 class="card-title">Jardin Botanico</h5>
          <p class="card-text">En sus seis hectáreas, el Botánico cuenta con distintos paseos sectorizados: El paseo de las Flores, Selva Subtropical, Huerta, Flora Nativa, Pasturas, Trepadoras, Rocallas, Cactus y Árboles Urbanos.</p>
          <a href="#" class="btn btn-primary">Conocer mas</a>
        </div>
      </div>
    </div>
</div>
</div>